<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.yzl.crm.customer.dao.MemberActionRelationMapper">
  <resultMap id="BaseResultMap" type="cn.net.yzl.crm.customer.viewmodel.memberActionModel.MemberActionRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_card" jdbcType="VARCHAR" property="memberCard" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="dname" jdbcType="VARCHAR" property="dname" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="value2" jdbcType="VARCHAR" property="value2" />
  </resultMap>
  <sql id="Base_Column_List">
    t.id, t.member_card, t.type, t.did, b.name as dname, b.value,b.value2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from member_action_relation t
    inner join action_dict b on t.did=b.id
    where t.id = #{id,jdbcType=INTEGER}  and b.is_del=0
  </select>

  <select id="selectRelationByMemberCardAndDid"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from member_action_relation t
    inner join action_dict b on t.did=b.id
    where t.member_card = #{memberCard,jdbcType=VARCHAR} and t.did=#{did,jdbcType=INTEGER}
  </select>

  <select id="selectRelationByMemberCardAndType"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from member_action_relation t
    inner join action_dict b on t.did=b.id
    where t.member_card = #{memberCard,jdbcType=VARCHAR} and t.type=#{type,jdbcType=INTEGER}
  </select>

  <select id="selectRelationByMemberCard"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from member_action_relation t
    inner join action_dict b on t.did=b.id
    where t.member_card = #{memberCard,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from member_action_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteBatch" parameterType="java.lang.Integer">
    delete from member_action_relation
    where id in
    <foreach collection="list" item="item" open="(" close=")" separator=",">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </delete>

  <delete id="deleteAllByCardNo" parameterType="java.lang.Integer">
    delete from member_action_relation
    where member_card = #{memberCard,jdbcType=VARCHAR} and is_del=0
  </delete>

  <insert id="insert" >
    insert into member_action_relation (member_card, did, type, creator)
    values (#{memberCard,jdbcType=VARCHAR}, #{did,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR})
  </insert>

  <insert id="insertBatch" parameterType="cn.net.yzl.crm.customer.dto.member.MemberActionRelationDto">
    insert into member_action_relation (member_card, did, type, creator)
    values
    <foreach collection="list" item="item" open="(" close=")" separator=",">
    (#{memberCard,jdbcType=VARCHAR}, #{did,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.yzl.crm.customer.dto.member.MemberActionRelationDto">
    update member_action_relation
    <set>
      <if test="memberCard != null">
        member_card = #{memberCard,jdbcType=VARCHAR},
      </if>
      <if test="did != null">
        did = #{did,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.yzl.crm.customer.dto.member.MemberActionRelationDto">
    update member_action_relation
    set member_card = #{memberCard,jdbcType=VARCHAR},
      did = #{did,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryByMemberCodes" parameterType="list" resultType="cn.net.yzl.crm.customer.model.mogo.ActionDict">
    select mar.member_card as memberCard,ad.id,ad.`name`,ad.`type`,ad.`value`,ad.value2 from member_action_relation mar
    left join action_dict ad on mar.did = ad.id and ad.del_flag =0
    where mar.member_card in
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>

  </select>

</mapper>