<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.yzl.crm.customer.dao.MemberMapper" >
<!--    <resultMap id="BaseResultMap" type="cn.net.yzl.crm.customer.model.Member" >-->
<!--        <id column="id" property="id" jdbcType="INTEGER" />-->
<!--        <result column="member_card" property="memberCard" jdbcType="VARCHAR" />-->
<!--        <result column="member_name" property="memberName" jdbcType="VARCHAR" />-->
<!--        <result column="nick_name" property="nickName" jdbcType="VARCHAR" />-->
<!--        <result column="age" property="age" jdbcType="INTEGER" />-->
<!--        <result column="sex" property="sex" jdbcType="BIT" />-->
<!--        <result column="adver_code" property="adverCode" jdbcType="INTEGER" />-->
<!--        <result column="m_grade_id" property="mGradeId" jdbcType="BIT" />-->
<!--        <result column="is_active" property="isActive" jdbcType="SMALLINT" />-->
<!--        <result column="member_status" property="memberStatus" jdbcType="TINYINT" />-->
<!--        <result column="activity" property="activity" jdbcType="BIT" />-->
<!--        <result column="region_code" property="regionCode" jdbcType="INTEGER" />-->
<!--        <result column="province_code" property="provinceCode" jdbcType="INTEGER" />-->
<!--        <result column="city_code" property="cityCode" jdbcType="INTEGER" />-->
<!--        <result column="total_amount" property="totalAmount" jdbcType="INTEGER" />-->
<!--        <result column="qq" property="qq" jdbcType="INTEGER" />-->
<!--        <result column="wechat" property="wechat" jdbcType="VARCHAR" />-->
<!--        <result column="email" property="email" jdbcType="VARCHAR" />-->
<!--        <result column="source" property="source" jdbcType="INTEGER" />-->
<!--        <result column="address" property="address" jdbcType="VARCHAR" />-->
<!--        <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />-->
<!--        <result column="job_id" property="jobId" jdbcType="INTEGER" />-->
<!--        <result column="first_order_time" property="firstOrderTime" jdbcType="TIMESTAMP" />-->
<!--        <result column="last_order_time" property="lastOrderTime" jdbcType="TIMESTAMP" />-->
<!--        <result column="master_card" property="masterCard" jdbcType="INTEGER" />-->
<!--        <result column="first_order_staff_no" property="firstOrderStaffNo" jdbcType="INTEGER" />-->
<!--        <result column="first_order_am" property="firstOrderAm" jdbcType="INTEGER" />-->
<!--        <result column="order_num" property="orderNum" jdbcType="INTEGER" />-->
<!--        <result column="media_name" property="mediaName" jdbcType="VARCHAR" />-->
<!--        <result column="media_type_code" property="mediaTypeCode" jdbcType="INTEGER" />-->
<!--        <result column="media_type_name" property="mediaTypeName" jdbcType="VARCHAR" />-->
<!--</resultMap>-->
    <sql id="Base_Column_List" >
    id, member_card, member_name, nick_name, age, sex, adver_code, m_grade_code, is_active,
    member_status, activity, region_code, province_code, city_code, total_amount, qq,id_card,

    wechat, email, source, address, birthday, job_code, first_order_time, last_order_time,
    master_card, first_order_staff_no, first_order_am, order_num, media_name, media_type_code,
    media_type_name,intro_no,intro_name,intro_type,source_type,vip_flag,member_type
  </sql>

    <insert id="insert" parameterType="cn.net.yzl.crm.customer.model.Member" >
    insert into member ( member_card, member_name,
                        nick_name, age, sex, adver_code,
                        m_grade_code, is_active, member_status,
                        activity, region_code, province_code,
                        city_code, total_amount, qq,
                        wechat, email, source,
                        address, birthday, job_code,
                        first_order_time, last_order_time, master_card,
                        first_order_staff_no, first_order_am, order_num,
                        media_name, media_type_code, media_type_name,
                        intro_no,intro_name,intro_type,source_type,vip_flag
    )
    values ( #{member_card,jdbcType=VARCHAR}, #{member_name,jdbcType=VARCHAR},
            #{nick_name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{sex}, #{adver_code,jdbcType=INTEGER},
            #{m_grade_code,jdbcType=VARCHAR}, #{is_active,jdbcType=SMALLINT}, #{member_status,jdbcType=TINYINT},
            #{activity,jdbcType=BIT}, #{region_code,jdbcType=INTEGER}, #{province_code,jdbcType=INTEGER},
            #{city_code,jdbcType=INTEGER}, #{total_amount,jdbcType=INTEGER}, #{qq,jdbcType=VARCHAR},
            #{wechat,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{source,jdbcType=INTEGER},
            #{address,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{job_code,jdbcType=INTEGER},
            #{first_order_time,jdbcType=TIMESTAMP}, #{last_order_time,jdbcType=TIMESTAMP}, #{master_card,jdbcType=INTEGER},
            #{first_order_staff_no,jdbcType=VARCHAR}, #{first_order_am,jdbcType=INTEGER}, #{order_num,jdbcType=INTEGER},
            #{media_name,jdbcType=VARCHAR}, #{media_type_code,jdbcType=VARCHAR}, #{media_type_name,jdbcType=VARCHAR},
            #{intro_no},#{intro_name},#{intro_type},#{source_type},#{vip_flag}
           )
  </insert>

    <update id="updateByMemberCardSelective" parameterType="cn.net.yzl.crm.customer.model.Member" >
        update member
        <set >

            <if test="adverCode != null" >
                adver_code = #{adver_code,jdbcType=INTEGER},
            </if>
            <if test="mGradeId != null" >
                m_grade_code = #{m_grade_code,jdbcType=BIT},
            </if>
            <if test="isActive != null" >
                is_active = #{is_active,jdbcType=SMALLINT},
            </if>
            <if test="memberStatus != null" >
                member_status = #{member_status,jdbcType=TINYINT},
            </if>
            <if test="activity != null" >
                activity = #{activity,jdbcType=BIT},
            </if>
            <if test="regionCode != null" >
                region_code = #{region_code,jdbcType=INTEGER},
            </if>
            <if test="provinceCode != null" >
                province_code = #{province_code,jdbcType=INTEGER},
            </if>
            <if test="cityCode != null" >
                city_code = #{city_code,jdbcType=INTEGER},
            </if>
            <if test="totalAmount != null" >
                total_amount = #{total_amount,jdbcType=INTEGER},
            </if>
            <if test="qq != null" >
                qq = #{qq,jdbcType=INTEGER},
            </if>
            <if test="wechat != null" >
                wechat = #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="source != null" >
                source = #{source,jdbcType=INTEGER},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null" >
                birthday = #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="jobId != null" >
                job_code = #{job_code,jdbcType=INTEGER},
            </if>
            <if test="firstOrderTime != null" >
                first_order_time = #{first_order_time,jdbcType=TIMESTAMP},
            </if>
            <if test="lastOrderTime != null" >
                last_order_time = #{last_order_time,jdbcType=TIMESTAMP},
            </if>
            <if test="masterCard != null" >
                master_card = #{master_card,jdbcType=INTEGER},
            </if>
            <if test="firstOrderStaffNo != null" >
                first_order_staff_no = #{first_order_staff_no,jdbcType=INTEGER},
            </if>
            <if test="firstOrderAm != null" >
                first_order_am = #{first_order_am,jdbcType=INTEGER},
            </if>
            <if test="orderNum != null" >
                order_num = #{order_num,jdbcType=INTEGER},
            </if>
            <if test="mediaName != null" >
                media_name = #{media_name,jdbcType=VARCHAR},
            </if>
            <if test="mediaTypeCode != null" >
                media_type_code = #{media_type_code,jdbcType=INTEGER},
            </if>
            <if test="mediaTypeName != null" >
                media_type_name = #{media_type_name,jdbcType=VARCHAR},
            </if>
        </set>
        where member_card = #{member_card,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="cn.net.yzl.crm.customer.model.Member" >
    update member
    set member_card = #{member_card,jdbcType=VARCHAR},
        member_name = #{member_name,jdbcType=VARCHAR},
        nick_name = #{nick_name,jdbcType=VARCHAR},
        age = #{age,jdbcType=INTEGER},
        sex = #{sex,jdbcType=BIT},
        adver_code = #{adver_code,jdbcType=VARCHAR},
        m_grade_code = #{m_grade_code,jdbcType=BIT},
        is_active = #{is_active,jdbcType=SMALLINT},
        member_status = #{member_status,jdbcType=TINYINT},
        activity = #{activity,jdbcType=BIT},
        region_code = #{region_code,jdbcType=INTEGER},
        province_code = #{province_code,jdbcType=INTEGER},
        city_code = #{city_code,jdbcType=INTEGER},
        total_amount = #{total_amount,jdbcType=INTEGER},
        qq = #{qq,jdbcType=INTEGER},
        wechat = #{wechat,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        source = #{source,jdbcType=INTEGER},
        address = #{address,jdbcType=VARCHAR},
        birthday = #{birthday,jdbcType=TIMESTAMP},
        job_code = #{job_code,jdbcType=VARCHAR},
        first_order_time = #{first_order_time,jdbcType=TIMESTAMP},
        last_order_time = #{last_order_time,jdbcType=TIMESTAMP},
        master_card = #{master_card,jdbcType=INTEGER},
        first_order_staff_no = #{first_order_staff_no,jdbcType=INTEGER},
        first_order_am = #{first_order_am,jdbcType=INTEGER},
        order_num = #{order_num,jdbcType=INTEGER},
        media_name = #{media_name,jdbcType=VARCHAR},
        media_type_code = #{media_type_code,jdbcType=INTEGER},
        media_type_name = #{media_type_name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="findPageByCondition"  resultType="cn.net.yzl.crm.customer.model.Member" parameterType="cn.net.yzl.crm.customer.dto.member.MemberSerchConditionDTO">
        SELECT
        m.id,
        m.member_card ,
        m.member_name ,
        m.sex ,
        m.media_name ,
        m.media_type_name ,
        m.member_status ,
        m.activity ,
        m.m_grade_code ,
        m.is_active ,
        m.region_code ,
        m.total_amount ,
        m.last_order_time,
        m.address,
        m.job_code,
        m.first_order_time,
        m.last_order_time,
        m.master_card,
        m.first_order_staff_no,
        m.intro_no,
        m.intro_name,
        m.intro_type,
        m.media_id,
        m.media_type_code,
        m.region_code,
        m.province_code,
        m.city_code,
        m.qq,
        m.wechat,
        m.email,
        m.vip_flag,
        m.source_type

        FROM
        member m
        <where>
            1=1
            <if test="memberName != null and memberName != ''">
                and (m.member_card = #{memberName} or m.member_name = #{memberName})
            </if>
            <if test="media_id != null and media_id != 0">
                and m.media_id = #{media_id}
            </if>
            <if test="adver_code != null and adver_code != 0">
                and m.adver_code = #{adver_code}
            </if>
            <if test="memberStatus != null and memberStatus != ''">
                and m.member_status = #{memberStatus}
            </if>
            <if test="mGradeCode != null and mGradeCode != ''">
                and m.m_grade_code = #{mGradeCode}
            </if>
            <if test="lastOrderTimeStart != null and lastOrderTimeStart != ''">
                and m.last_order_time <![CDATA[ >= ]]> #{lastOrderTimeStart}
            </if>
            <if test="lastOrderTimeEnd != null and lastOrderTimeEnd != ''">
                and m.last_order_time <![CDATA[ <= ]]> #{lastOrderTimeEnd}
            </if>
<!--            <if test="diseaseId != null and diseaseId != '' ">-->
<!--                and d.disease_id = #{diseaseId}-->
<!--            </if>-->
<!--            <if test="diseasePid != null and diseasePid != '' and (diseaseId == null or diseaseId == '' )">-->
<!--                and d.disease_id = #{diseasePid}-->
<!--            </if>-->
        </where>
    </select>
    <!--根据顾客号查询顾客基本信息 -->
    <select id="selectMemberByCard" parameterType="java.lang.String" resultType="cn.net.yzl.crm.customer.model.Member">
        SELECT
        <include refid="Base_Column_List" />
        FROM member
        WHERE member_card = #{memberCard}
    </select>
    <select id="getMemberGrad" resultType="cn.net.yzl.crm.customer.model.MemberGrad" >
        select id,no,name from member_type
    </select>
    <!--根据顾客号查询顾客手机号信息 -->
    <select id="getMemberPhoneList" parameterType="String" resultType="cn.net.yzl.crm.customer.model.MemberPhone">
        select id,member_card,phone_number,phone_place,service_provider,phone_type
        from member_phone
        where enabled=1  and member_card=#{member_card}

    </select>

    <!--根据顾客手机号查询顾客基本信息 ，用来判断手机号是否被注册，如果注册，则返回注册顾客的实体-->
    <select id="getMemberByPhone" resultType="cn.net.yzl.crm.customer.model.Member">
        select
        <include refid="Base_Column_List" />
        from member where member_card=
            (

            select member_card
            from member_phone
            where phone_number in
                <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                    #{item}
                </foreach>
             limit 1


            )
    </select>

    <update id="setMemberToVip" parameterType="String" >
        update member set vip_flag=1 where member_card=#{member_card}
    </update>

    <select id="getMemberProductEffectList" parameterType="String" resultType="cn.net.yzl.crm.customer.model.MemberProductEffect">
        select  member_card,order_no,product_code,eating_perday,product_last_num,
                due_date,taking_state,taking_effect,product_count,product_code,product_name
         from   member_product_effect
         where  member_card=#{member_card}
                and due_date  <![CDATA[ > ]]> now()
    </select>

    <select id="getProductConsultationList" parameterType="String" resultType="cn.net.yzl.crm.customer.model.ProductConsultation">
        select  id,member_card,product_code,product_name
        from product_consultation where member_card=#{member_card}
    </select>

    <select id="getMemberDisease" parameterType="String" resultType="cn.net.yzl.crm.customer.model.MemberDisease">
        select id, member_card,disease_id,disease_name
        from   member_disease
        where  member_card=#{member_card}

    </select>

    <insert id="saveReveiverAddress" parameterType="cn.net.yzl.crm.customer.model.ReveiverAddress" >
        insert into reveiver_address(reveiver_address_code,member_card,member_name,member_mobile,
        member_province_no,member_province_name,
        member_city_no,member_city_name,
        member_county_no,member_county_name,
        member_street_no,member_street_name,
        member_address,create_code,update_code
        )
        values(
        #{reveiver_address_code},#{member_card},#{member_name},#{member_mobile},
        #{member_province_no},#{member_province_name},
        #{member_city_no},#{member_city_name},
        #{member_county_no},#{member_county_name},
        #{member_street_no},#{member_street_name},
        #{member_address},#{create_code},#{update_code}
        )
    </insert>

    <update id="updateReveiverAddress" parameterType="cn.net.yzl.crm.customer.model.ReveiverAddress" >
        update reveiver_address
        set member_mobile=#{member_mobile},
            member_province_no=#{member_province_no},
            member_province_name=#{member_province_name},
            member_city_no=#{member_city_no},
            member_city_name=#{member_city_name},
            member_county_no=#{member_county_no},
            member_county_name=#{member_county_name},
            member_street_no=#{member_street_no},
            member_street_name=#{member_street_name},
            member_address=#{member_address},
            create_code=#{create_code},
            update_code=#{update_code}
        where reveiver_address_code=#{reveiver_address_code}

    </update>

    <select id="getReveiverAddress" parameterType="String" resultType="cn.net.yzl.crm.customer.model.ReveiverAddress" >
            select
                    reveiver_address_code,member_card,member_name,member_mobile,
                    member_province_no,member_province_name,
                    member_city_no,member_city_name,
                    member_county_no,member_county_name,
                    member_street_no,member_street_name,
                    member_address,create_code,update_code

            from reveiver_address where member_card=#{member_card}
    </select>

    <select id="getMemberOrderStat" parameterType="String" resultType="cn.net.yzl.crm.customer.model.MemberOrderStat">
        select member_card,total_counsum_amount,total_invest_amount,first_order_time,last_order_time,last_buy_product_code,
            first_order_staff_no,first_order_no,first_buy_product_code,first_order_am,order_high_am,order_low_am,
            order_avg_am,product_type_cnt,buy_count,day_avg_count,year_avg_count,return_goods_rate
        from member_order_stat
        where member_card=#{member_card}

    </select>

    <insert id="addMemberOrderStat" parameterType="cn.net.yzl.crm.customer.model.MemberOrderStat" >
        insert into member_order_stat(
        member_card,
        total_counsum_amount,
        total_invest_amount,
        first_order_time,
        last_order_time,
        last_buy_product_code,
        first_order_staff_no,
        first_order_no,
        first_buy_product_code,
        first_order_am,
        order_high_am,
        order_low_am,
        order_avg_am,
        product_type_cnt,
        buy_count,
        day_avg_count,
        year_avg_count,
        return_goods_rate
        )
        values(
        #{member_card},
        #{total_counsum_amount},
        #{total_invest_amount},
        #{first_order_time},
        #{last_order_time},
        #{last_buy_product_code},
        #{first_order_staff_no},
        #{first_order_no},
        #{first_buy_product_code},
        #{first_order_am},
        #{order_high_am},
        #{order_low_am},
        #{order_avg_am},
        #{product_type_cnt},
        #{buy_count},
        #{day_avg_count},
        #{year_avg_count},
        #{return_goods_rate}
        )
    </insert>

    <update id="updateMemberOrderStat" parameterType="cn.net.yzl.crm.customer.model.MemberOrderStat">
        update member_order_stat
        set  total_counsum_amount=#{total_counsum_amount},
            total_invest_amount=#{total_invest_amount},
            first_order_time=#{first_order_time},
            last_order_time=#{last_order_time},
            last_buy_product_code=#{last_buy_product_code},
            first_order_staff_no=#{first_order_staff_no},
            first_order_no=#{first_order_no},
            first_buy_product_code=#{first_buy_product_code},
            first_order_am=#{first_order_am},
            order_high_am=#{order_high_am},
            order_low_am=#{order_low_am},
            order_avg_am=#{order_avg_am},
            product_type_cnt=#{product_type_cnt},
            buy_count=#{buy_count},
            day_avg_count=#{day_avg_count},
            year_avg_count=#{year_avg_count},
            return_goods_rate=#{return_goods_rate}
        where member_card=#{member_card}
    </update>
    
<!--    <select id="getMemberAction" parameterType="String" resultType="cn.net.yzl.crm.customer.model.MemberAction">-->
<!--        select  member_card,-->
<!--                phone_time,-->
<!--                nature,-->
<!--                response_time,-->
<!--                action,-->
<!--                order_action,-->
<!--                active-->
<!--        from member_action-->
<!--        where member_card=#{member_card}-->
<!--    </select>-->
<!--    -->
<!--    <insert id="saveMemberAction" parameterType="cn.net.yzl.crm.customer.model.MemberAction" >-->
<!--        insert into member_action(-->
<!--                member_card,-->
<!--                phone_time,-->
<!--                nature,-->
<!--                response_time,-->
<!--                action,-->
<!--                order_action,-->
<!--                active-->
<!--        )-->
<!--        values(-->
<!--                #{member_card},-->
<!--                #{phone_time},-->
<!--                #{nature},-->
<!--                #{response_time},-->
<!--                #{action},-->
<!--                #{order_action},-->
<!--                #{active}-->
<!--        )-->
<!--    </insert>-->

<!--    <update id="updateMemberAction" parameterType="cn.net.yzl.crm.customer.model.MemberAction">-->
<!--        update member_action-->
<!--               set-->
<!--                phone_time=phone_time +','+ #{phone_time},-->
<!--                nature=nature+ ','+ #{nature},-->
<!--                response_time=response_time + ','+ #{response_time},-->
<!--                action=action+ ','+ #{action},-->
<!--                order_action=order_action + ','+ #{order_action},-->
<!--                active= active + ','+ #{active}-->
<!--        where member_card=#{member_card}-->
<!--    </update>-->

    <select id="getMemberList" resultType="cn.net.yzl.crm.customer.viewmodel.MemberOrderStatViewModel" >
        select m.member_card, member_name, nick_name, age, sex, adver_code, m_grade_code, is_active,
    member_status, activity, region_code, province_code, city_code, total_amount, qq,id_card,
    wechat, email, source, address, birthday, job_code, m.first_order_time, m.last_order_time,
    master_card, m.first_order_staff_no, m.first_order_am, order_num, media_name, media_type_code,
    media_type_name,intro_no,intro_name,intro_type,source_type,vip_flag,member_type,
     total_counsum_amount,
        total_invest_amount,
        last_buy_product_code,
        first_order_no,
        first_buy_product_code,
        order_high_am,
        order_low_am,
        order_avg_am,
        product_type_cnt,
        buy_count,
        day_avg_count,
        year_avg_count,
        return_goods_rate
        from member m inner join member_order_stat o on m.member_card= o.member_card
        where m.member_card in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="addCrowdGroup" useGeneratedKeys="true" keyProperty="id" parameterType="cn.net.yzl.crm.customer.model.CrowdGroup">
        insert into crowd_group(
        name,
        description,
        enabled,
        effective_date,
        expire_date,
        del,
        create_code,
        create_name,
        update_code,
        update_name,
        person_count
        )
        values(
         #{name},
        #{description},
        #{enable},
        #{effective_date},
        #{expire_date},
        #{del},
        #{create_code},
        #{create_name},
        #{update_code},
        #{update_name},
        #{person_count}
        )
    </insert>

    <select id="getCrowdGroupByPage" parameterType="cn.net.yzl.crm.customer.dto.CrowdGroupDTO" resultType="cn.net.yzl.crm.customer.model.CrowdGroup">

        select
            id,
            name,
            description,
            enable,
            effective_date,
            expire_date,
            create_time,
            create_code,
            create_name,
            update_time,
            update_name,
            person_count
        from crowd_group
        <where>
            del=0
            <if test="name != null and name !=''">
                and name =#{name}
            </if>
            <if test="enable != -1">
                and enable=#{enable}
            </if>
            <if test="start_date != null and start_date != ''">
                and m.create_time <![CDATA[ >= ]]> #{start_date}
            </if>
            <if test="end_date != null and end_date != ''">
                and m.create_time <![CDATA[ <= ]]> #{end_date}
            </if>
        </where>
    </select>
    
    <select id="getCrowdGroupByIds" resultType="cn.net.yzl.crm.customer.model.CrowdGroup" >
         select
            id,
            name,
            description,
            enable,
            effective_date,
            expire_date,
            create_time,
            create_code,
            create_name,
            update_time,
            update_name,
            person_count
        from crowd_group
        where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getmemberActions" resultType="cn.net.yzl.crm.customer.model.MemberBaseAttr">
        select id,name,ltype from member_base_attr
    </select>

</mapper>