<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.yzl.crm.customer.dao.memberDictRelation.MemberContactTimeRelationMapper">
  <resultMap id="BaseResultMap" type="cn.net.yzl.crm.customer.viewmodel.memberActionModel.MemberContactTimeRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_card" jdbcType="VARCHAR" property="memberCard" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>

  <sql id="Base_Column_List">
    t.id, t.member_card, t.did,b.name
  </sql>


  <select id="selectByMemberCard"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from member_contact_time_relation t
    inner join contact_time_dict b on t.did=b.id
    where id = #{memberCard,jdbcType=VARCHAR} and b.is_del=0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from member_contact_time_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteBatch" parameterType="java.lang.Integer">
    delete from member_contact_time_relation
    where id in
    <foreach collection="list" item="item" separator="," open="(" close=")">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </delete>

  <delete id="deleteByMemberCard" >
    delete from member_contact_time_relation
    where member_card = #{memberCard,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.net.yzl.crm.customer.dto.member.MemberContactTimeRelationDto" useGeneratedKeys="true">
    insert into member_contact_time_relation (member_card, did, create_time, creator)
    values (#{memberCard,jdbcType=VARCHAR}, #{did,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR})
  </insert>

  <insert id="insertBatch">
    insert into member_contact_time_relation (member_card, did, create_time, creator)
    values
     <foreach collection="relationList" item="item" separator=",">
     (#{item.memberCard,jdbcType=VARCHAR}, #{item.did,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP},
      #{item.creator,jdbcType=VARCHAR})
     </foreach>
  </insert>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.net.yzl.crm.customer.dto.member.MemberContactTimeRelationDto" useGeneratedKeys="true">
    insert into member_contact_time_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberCard != null">
        member_card,
      </if>
      <if test="did != null">
        did,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberCard != null">
        #{memberCard,jdbcType=VARCHAR},
      </if>
      <if test="did != null">
        #{did,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.yzl.crm.customer.dto.member.MemberContactTimeRelationDto">
    update member_contact_time_relation
    <set>
      <if test="memberCard != null">
        member_card = #{memberCard,jdbcType=VARCHAR},
      </if>
      <if test="did != null">
        did = #{did,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.yzl.crm.customer.dto.member.MemberContactTimeRelationDto">
    update member_contact_time_relation
    set member_card = #{memberCard,jdbcType=VARCHAR},
      did = #{did,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>