<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.yzl.crm.customer.collector.dao.MemberMapper">
    <sql id="Base_Column_List">
    id, member_card, passwd, member_name, nick_name, age, sex, id_card, adver_code, adver_name,
    m_grade_code, member_type, is_active, member_status, activity, region_code, region_name,
    province_code, province_name, city_code, city_name, area_code, area_name, total_amount,
    qq, wechat, email, source, address, birthday, job_code, first_order_time, last_order_time,
    master_card, first_order_staff_no, first_order_am, order_num, intro_no, intro_name,
    intro_type, media_id, media_name, media_type_code, media_type_name, creator_no, create_time,
    creator_name, updator_no, updator_name, update_time, source_type, vip_flag, buy_intention,
    reject_flag,m_grade_id mGradeId,m_grade_name mGradeName
  </sql>
    <update id="updateByMemberCardSelective" parameterType = "cn.net.yzl.crm.customer.model.Member">
        update member
        <set>
            <if test="member_card != null">
                member_card = #{member_card,jdbcType=VARCHAR},
            </if>
            <if test="passwd != null">
                passwd = #{passwd,jdbcType=VARCHAR},
            </if>
            <if test="member_name != null">
                member_name = #{member_name,jdbcType=VARCHAR},
            </if>
            <if test="nick_name != null">
                nick_name = #{nick_name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=BIT},
            </if>
            <if test="id_card != null">
                id_card = #{id_card,jdbcType=VARCHAR},
            </if>
            <if test="adver_code != null">
                adver_code = #{adver_code,jdbcType=INTEGER},
            </if>
            <if test="adver_name != null">
                adver_name = #{adver_name,jdbcType=VARCHAR},
            </if>
            <if test="m_grade_code != null">
                m_grade_code = #{m_grade_code,jdbcType=VARCHAR},
            </if>
            <if test="member_type != null">
                member_type = #{member_type,jdbcType=VARCHAR},
            </if>
            <if test="is_active != null">
                is_active = #{is_active,jdbcType=SMALLINT},
            </if>
            <if test="member_status != null">
                member_status = #{member_status,jdbcType=TINYINT},
            </if>
            <if test="activity != null">
                activity = #{activity,jdbcType=BIT},
            </if>
            <if test="region_code != null">
                region_code = #{region_code,jdbcType=VARCHAR},
            </if>
            <if test="region_name != null">
                region_name = #{region_name,jdbcType=VARCHAR},
            </if>
            <if test="province_code != null">
                province_code = #{province_code,jdbcType=INTEGER},
            </if>
            <if test="province_name != null">
                province_name = #{province_name,jdbcType=VARCHAR},
            </if>
            <if test="city_code != null">
                city_code = #{city_code,jdbcType=INTEGER},
            </if>
            <if test="city_name != null">
                city_name = #{city_name,jdbcType=VARCHAR},
            </if>
            <if test="area_code != null">
                area_code = #{area_code,jdbcType=INTEGER},
            </if>
            <if test="area_name != null">
                area_name = #{area_name,jdbcType=VARCHAR},
            </if>
            <if test="total_amount != null">
                total_amount = #{total_amount,jdbcType=INTEGER},
            </if>
            <if test="qq != null">
                qq = #{qq,jdbcType=INTEGER},
            </if>
            <if test="wechat != null">
                wechat = #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="job_code != null">
                job_code = #{job_code,jdbcType=VARCHAR},
            </if>
            <if test="first_order_time != null">
                first_order_time = #{first_order_time,jdbcType=TIMESTAMP},
            </if>
            <if test="last_order_time != null">
                last_order_time = #{last_order_time,jdbcType=TIMESTAMP},
            </if>
            <if test="master_card != null">
                master_card = #{master_card,jdbcType=VARCHAR},
            </if>
            <if test="first_order_staff_no != null">
                first_order_staff_no = #{first_order_staff_no,jdbcType=VARCHAR},
            </if>
            <if test="first_order_am != null">
                first_order_am = #{first_order_am,jdbcType=INTEGER},
            </if>
            <if test="order_num != null">
                order_num = #{order_num,jdbcType=INTEGER},
            </if>
            <if test="intro_no != null">
                intro_no = #{intro_no,jdbcType=VARCHAR},
            </if>
            <if test="intro_name != null">
                intro_name = #{intro_name,jdbcType=VARCHAR},
            </if>
            <if test="intro_type != null">
                intro_type = #{intro_type,jdbcType=BIT},
            </if>
            <if test="media_id != null">
                media_id = #{media_id,jdbcType=INTEGER},
            </if>
            <if test="media_name != null">
                media_name = #{media_name,jdbcType=VARCHAR},
            </if>
            <if test="media_type_code != null">
                media_type_code = #{media_type_code,jdbcType=INTEGER},
            </if>
            <if test="media_type_name != null">
                media_type_name = #{media_type_name,jdbcType=VARCHAR},
            </if>
            <if test="updator_no != null">
                updator_no = #{updator_no,jdbcType=VARCHAR},
            </if>
            <if test="updator_name != null">
                updator_name = #{updator_name,jdbcType=VARCHAR},
            </if>
            <if test="source_type != null">
                source_type = #{source_type,jdbcType=BIT},
            </if>
            <if test="vip_flag != null">
                vip_flag = #{vip_flag,jdbcType=BIT},
            </if>
            <if test="buy_intention != null">
                buy_intention = #{buy_intention,jdbcType=TINYINT},
            </if>
            <if test="reject_flag != null">
                reject_flag = #{reject_flag,jdbcType=BIT},
            </if>
        </set>
        where member_card = #{member_card,jdbcType=VARCHAR}

    </update>

    <select id="queryAllMemberByPage" resultType="cn.net.yzl.crm.customer.collector.model.mogo.MemberLabel">
        select
      m.member_card as memberCard,
      m.member_name as memberName,
      m.nick_name as nickName,
      m.age,
      m.sex,
      m.adver_code as adverCode,
      m.adver_name as adverName,
     m.m_grade_code as mGradeCode,
     m.m_grade_id as mGradeId,
     m.member_type as memberType,
     m.is_active as active,
    m.member_status as memberStatus,
     m.activity as activity,
     m.region_code as regionCode,
     m.region_name as regionName,
    m.province_code as provinceCode,
    m.province_name as provinceName,
    m.city_code as cityCode,
    m.city_name as cityName,
    m.area_code as areaCode,
    m.area_name as areaName,
    m.total_amount as totalAmount,
    m.qq,
    m.wechat,
    m.email,
    m.source,
    m.address,
    m.birthday,
    m.job_code as jobCode,
    m.first_order_time as firstOrderTime,
    m.last_order_time as lastOrderTime,
    m.master_card as masterCard,
    m.first_order_am as firstOrderAm,
    m.order_num as orderNum,
    m.media_id as mediaId,
    m.media_name as mediaName,
    m.media_type_code as mediaTypeCode,
    m.media_type_name as mediaTypeName,
    m.create_time as createTime,
    m.update_time as updateTime,
    m.vip_flag as vipFlag,
    m.buy_intention as buyIntention,
    o.total_counsum_amount as totalCounsumAmount,
    o.total_invest_amount as totalInvestAmount,
    o.total_order_amount as totalOrderAmount,
    o.order_rec_amount as orderRecAmount,
    o.last_buy_product_code as lastBuyProductCode,
    o.first_order_no as firstOrderNo,
    o.first_buy_product_code as firstBuyProductCod,
    o.order_high_am as orderHighAm,
    o.order_low_am as orderLowAm,
    o.order_avg_am as orderAvgAm,
    o.product_type_cnt as productTypeCnt,
    o.buy_count as buyCount,
    o.day_avg_count as dayAvgCount,
    o.year_avg_count as yearAvgCount,
    o.return_goods_rate as returnGoodsRate,
    o.last_sign_time as lastSignTime,
    a.total_money as totalMoney
    from member m
    left join member_order_stat o on m.member_card= o.member_card
    left join member_amount a on a.member_card=m.member_card
    where m.last_order_time >= #{lastOrderTime}
    ORDER BY m.last_order_time limit #{pageStart}, #{pageSize}
    </select>

    <select id="queryDiseaseByMemberCodes" resultType="cn.net.yzl.crm.customer.collector.model.mogo.MemberDisease" parameterType="list" >
        select
        member_card as memberCard, disease_id as diseaseId, disease_name as diseaseName
        from member_disease
        where member_card in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="queryMemberLabelByCodes" resultType="cn.net.yzl.crm.customer.collector.model.mogo.MemberLabel">
        select
        m.member_card as memberCard,
        m.member_name as memberName,
        m.nick_name as nickName,
        m.age,
        m.sex,
        m.adver_code as adverCode,
        m.adver_name as adverName,
        m.m_grade_code as mGradeCode,
        m.m_grade_id as mGradeId,
        m.member_type as memberType,
        m.is_active as active,
        m.member_status as memberStatus,
        m.activity as activity,
        m.region_code as regionCode,
        m.region_name as regionName,
        m.province_code as provinceCode,
        m.province_name as provinceName,
        m.city_code as cityCode,
        m.city_name as cityName,
        m.area_code as areaCode,
        m.area_name as areaName,
        m.total_amount as totalAmount,
        m.qq,
        m.wechat,
        m.email,
        m.source,
        m.address,
        m.birthday,
        m.job_code as jobCode,
        m.first_order_time as firstOrderTime,
        m.last_order_time as lastOrderTime,
        m.master_card as masterCard,
        m.first_order_am as firstOrderAm,
        m.order_num as orderNum,
        m.media_id as mediaId,
        m.media_name as mediaName,
        m.media_type_code as mediaTypeCode,
        m.media_type_name as mediaTypeName,
        m.create_time as createTime,
        m.update_time as updateTime,
        m.vip_flag as vipFlag,
        m.buy_intention as buyIntention,
        o.total_counsum_amount as totalCounsumAmount,
        o.total_invest_amount as totalInvestAmount,
        o.total_order_amount as totalOrderAmount,
        o.order_rec_amount as orderRecAmount,
        o.last_buy_product_code as lastBuyProductCode,
        o.first_order_no as firstOrderNo,
        o.first_buy_product_code as firstBuyProductCod,
        o.order_high_am as orderHighAm,
        o.order_low_am as orderLowAm,
        o.order_avg_am as orderAvgAm,
        o.product_type_cnt as productTypeCnt,
        o.buy_count as buyCount,
        o.day_avg_count as dayAvgCount,
        o.year_avg_count as yearAvgCount,
        o.return_goods_rate as returnGoodsRate,
        o.last_sign_time as lastSignTime,
        a.total_money as totalMoney
        from member m
        left join member_order_stat o on m.member_card= o.member_card
        left join member_amount a on a.member_card=m.member_card
        where m.member_card in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryActionByMemberCodes" parameterType="list" resultType="cn.net.yzl.crm.customer.collector.model.mogo.ActionDict">
        select mar.member_card as memberCard,ad.id,ad.`name`,ad.`type` from member_action_relation mar
        left join action_dict ad on mar.did = ad.id and ad.del_flag =0
        where mar.member_card in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>

    </select>

    <select id="queryProductByMemberCodes" parameterType="list" resultType="cn.net.yzl.crm.customer.collector.model.mogo.MemberProduct" >
        select
        member_card memberCard,
        product_code productCode
        from member_product_effect
        where member_card in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectMemberByCard" resultType="cn.net.yzl.crm.customer.model.Member">
        SELECT
        <include refid="Base_Column_List"/>
        FROM member
        WHERE member_card = #{memberCard}
    </select>
</mapper>