<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.yzl.crm.customer.collector.dao.MemberAmountRedbagIntegralMapper" >
  <resultMap id="BaseResultMap" type="cn.net.yzl.crm.customer.model.MemberAmountRedbagIntegral" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_card" property="memberCard" jdbcType="VARCHAR" />
    <result column="last_integral" property="lastIntegral" jdbcType="INTEGER" />
    <result column="last_red_bag" property="lastRedBag" jdbcType="INTEGER" />
    <result column="is_history" property="isHistory" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, member_card memberCard, last_integral lastIntegral, last_red_bag lastRedBag, is_history isHistory
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from member_amount_redbag_integral
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByMemberCard" resultType="cn.net.yzl.crm.customer.model.MemberAmountRedbagIntegral">

    select
    <include refid="Base_Column_List" />
    from member_amount_redbag_integral
    where member_card = #{memberCard}

  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member_amount_redbag_integral
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.net.yzl.crm.customer.model.MemberAmountRedbagIntegral" >
    insert into member_amount_redbag_integral (id, member_card, last_integral, 
      last_red_bag, is_history)
    values (#{id,jdbcType=INTEGER}, #{memberCard,jdbcType=VARCHAR}, #{lastIntegral,jdbcType=INTEGER}, 
      #{lastRedBag,jdbcType=INTEGER}, #{isHistory,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="cn.net.yzl.crm.customer.model.MemberAmountRedbagIntegral" >
    insert into member_amount_redbag_integral
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberCard != null" >
        member_card,
      </if>
      <if test="lastIntegral != null" >
        last_integral,
      </if>
      <if test="lastRedBag != null" >
        last_red_bag,
      </if>
      <if test="isHistory != null" >
        is_history,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="memberCard != null" >
        #{memberCard,jdbcType=VARCHAR},
      </if>
      <if test="lastIntegral != null" >
        #{lastIntegral,jdbcType=INTEGER},
      </if>
      <if test="lastRedBag != null" >
        #{lastRedBag,jdbcType=INTEGER},
      </if>
      <if test="isHistory != null" >
        #{isHistory,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.yzl.crm.customer.model.MemberAmountRedbagIntegral" >
    update member_amount_redbag_integral
    <set >
      <if test="memberCard != null" >
        member_card = #{memberCard,jdbcType=VARCHAR},
      </if>
      <if test="lastIntegral != null" >
        last_integral = #{lastIntegral,jdbcType=INTEGER},
      </if>
      <if test="lastRedBag != null" >
        last_red_bag = #{lastRedBag,jdbcType=INTEGER},
      </if>
      <if test="isHistory != null" >
        is_history = #{isHistory,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.yzl.crm.customer.model.MemberAmountRedbagIntegral" >
    update member_amount_redbag_integral
    set member_card = #{memberCard,jdbcType=VARCHAR},
      last_integral = #{lastIntegral,jdbcType=INTEGER},
      last_red_bag = #{lastRedBag,jdbcType=INTEGER},
      is_history = #{isHistory,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>