<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.yzl.crm.customer.dao.ActionDictMapper">
  <resultMap id="BaseResultMap" type="cn.net.yzl.crm.customer.viewmodel.memberActionModel.ActionDict">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="value2" jdbcType="VARCHAR" property="value2" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, `type`, `value`, value2
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from action_dict
    where id = #{id,jdbcType=INTEGER}  and del_flag=0
  </select>

  <select id="selectByType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from action_dict
        where type = #{type,jdbcType=INTEGER}  and del_flag=0
  </select>

  <select id="selectByTypeAndName"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from action_dict
    where type = #{type,jdbcType=INTEGER} and name=#{name,jdbcType=VARCHAR}  and del_flag=0
  </select>

  <update id="deleteByPrimaryKey" >
    update action_dict set del_flag=1,updator=#{updator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER} and del_flag=0
  </update>

  <update id="deleteByType" >
    update action_dict set del_flag=1,updator=#{updator,jdbcType=VARCHAR}
    where type = #{typeId,jdbcType=INTEGER}  and del_flag=0
  </update>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.net.yzl.crm.customer.dto.member.ActionDictDto" useGeneratedKeys="true">
    insert into action_dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="value != null">
        `value`,
      </if>
      <if test="value2 != null">
        value2,
      </if>
      <if test="creator != null">
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="value2 != null">
        #{value2,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.net.yzl.crm.customer.dto.member.ActionDictDto">
    update action_dict
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="value != null">
        `value` = #{value,jdbcType=VARCHAR},
      </if>
      <if test="value2 != null">
        value2 = #{value2,jdbcType=VARCHAR},
      </if>
      <if test="updator != null">
        updator = #{updator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateActionDictWhereStatusIs2">
    update action_dict
    SET del_flag = 0,update_time =NOW(),updator='SYSTEM'
    WHERE
        del_flag = 2 AND create_time &lt; NOW();
  </update>

  <select id="selectCountForRelationByDid"  resultType="java.lang.Integer">
    select
    count(1) as ct
    from action_dict t
    inner join member_action_relation b on t.id=b.did
    where t.id= #{id,jdbcType=INTEGER}
  </select>

  <select id="selectCountForRelationByType"  resultType="java.lang.Integer">
    select
    count(1) as ct
    from action_dict t
    inner join member_action_relation b on t.id=b.did and t.del_flag=0
    where t.id= #{type,jdbcType=INTEGER}
  </select>

</mapper>