<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.yzl.crm.customer.dao.MemberRechargeMapper" >
  <resultMap id="BaseResultMap" type="cn.net.yzl.crm.customer.model.db.MemberRecharge" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_card" property="memberCard" jdbcType="VARCHAR" />
    <result column="in_money" property="inMoney" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="creator_no" property="creatorNo" jdbcType="VARCHAR" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
    <result column="is_history" property="isHistory" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, member_card, in_money, create_date, creator_no, creator_name, is_history
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from member_recharge
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member_recharge
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.net.yzl.crm.customer.model.db.MemberRecharge" >
    insert into member_recharge (id, member_card, in_money, 
      create_date, creator_no, creator_name, 
      is_history)
    values (#{id,jdbcType=INTEGER}, #{memberCard,jdbcType=VARCHAR}, #{inMoney,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{creatorNo,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, 
      #{isHistory,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="cn.net.yzl.crm.customer.model.db.MemberRecharge" >
    insert into member_recharge
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberCard != null" >
        member_card,
      </if>
      <if test="inMoney != null" >
        in_money,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="creatorNo != null" >
        creator_no,
      </if>
      <if test="creatorName != null" >
        creator_name,
      </if>
      <if test="isHistory != null" >
        is_history,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="memberCard != null" >
        #{memberCard,jdbcType=VARCHAR},
      </if>
      <if test="inMoney != null" >
        #{inMoney,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorNo != null" >
        #{creatorNo,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="isHistory != null" >
        #{isHistory,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.yzl.crm.customer.model.db.MemberRecharge" >
    update member_recharge
    <set >
      <if test="memberCard != null" >
        member_card = #{memberCard,jdbcType=VARCHAR},
      </if>
      <if test="inMoney != null" >
        in_money = #{inMoney,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorNo != null" >
        creator_no = #{creatorNo,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="isHistory != null" >
        is_history = #{isHistory,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.yzl.crm.customer.model.db.MemberRecharge" >
    update member_recharge
    set member_card = #{memberCard,jdbcType=VARCHAR},
      in_money = #{inMoney,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      creator_no = #{creatorNo,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      is_history = #{isHistory,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>